<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfc5a4">  <td>23/12/12 19:33:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostTestCase.executor()[pri:0, instance:Test_Package.PostTestCase@8f2ef19]">executor</td> 
  <td>main@974308356</td>   <td></td> </tr>
<tr bgcolor="68aa7e">  <td>23/12/12 19:33:31</td>   <td>16741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PutTestCase.executor()[pri:0, instance:Test_Package.PutTestCase@1ca3b418]">executor</td> 
  <td>main@974308356</td>   <td></td> </tr>
<tr bgcolor="fc786e">  <td>23/12/12 19:33:27</td>   <td>13594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.executor()[pri:0, instance:Test_Package.Patch_TestCase@202b0582]">executor</td> 
  <td>main@974308356</td>   <td></td> </tr>
<tr bgcolor="d4dc85">  <td>23/12/12 19:33:30</td>   <td>15827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetTestCase.executor()[pri:0, instance:Test_Package.GetTestCase@235ecd9f]">executor</td> 
  <td>main@974308356</td>   <td></td> </tr>
</table>
